/* Typography */

$baseline     : 24px;
$basesize     : 16px;
$stack-sans   : 'Helvetica Neue', Helvetica, Arial, sans-serif;

/* Color Scheme */
$primary-pink   : rgba(143,0,107,1);
$primary-black: rgba(41,30,38,1);
$primary-blue : rgba(0,0,255,1);
$div-bg: rgba(0,0,255,0.1);


/* Responsive Breakpoints */

$break-small  : 640px;
$break-medium : 1024px;
$break-large  : 1025px; 